parameters:
  bootstrap: null

  scanFiles:
    - injectionParams/cli.php

  #bootstrapFiles

#  autoload_files:
#    - lib/cli_functions.php
#    - injectionParams/cli.php
#    - lib/cli_functions.php
#    - lib/exception_mappers_api.php
#    - lib/exception_mappers_app.php
#    - lib/exception_mappers_cli.php
#    - src/factories.php
#    - src/functions.php
#    - src/site_html.php

  excludes_analyse:
    - *injectionParams/*
    - *PhpOpenDocs/InjectionParams.php
    - *PHPOpenDocs/CommonController/CompileError.php
    - PhpOpenDocs/Config.php
    - *opcache.php
  ignoreErrors:
## PHP 7/8 issues start - delete these when PHP 7 support is dropped
    -
      message: '#Strict comparison using === .*#'
      path: *functions.php
    -
      message: '#Comparison operation ">" between int<1, max> and 0 is always true.*#'
      path: *functions.php
## PHP 7/8 issues end - delete these when PHP 7 support is dropped
