parameters:
  level: 6
  paths:
    - app
    - src
    - config.generated.php
  ignoreErrors:
    - "#Function [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array#"
    - "#Function [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#"
    - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array#"
    - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#"
    - "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array#"
    - "#Dead catch - .* is never thrown in the try block.#"

  excludePaths:
    - src/PHPOpenDocs/AppController/CompileError.php
    - src/Middleware/ContentSecurityPolicyMiddleware.php
    - src/Middleware/MemoryCheckMiddleware.php

