

<div class="footer_padding_break">
  &nbsp;
</div>
<div>
  <hr/>
</div>


<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>OpenSourceFees</h5>
        <p>Attempting to make Open Source sustainable.</p>

        <p>
        &copy All rights Reversed.<a class="ml-2" href="https://www.OpenSourceFees.com" target="_blank">OpenSourceFees</a></p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Platform</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="/projects"><i class="fa fa-angle-double-right"></i>Projects</a></li>
          <li><a href="/faq"><i class="fa fa-angle-double-right"></i>F.A.Q.</a></li>
          <li><a href="/privacy_policy"><i class="fa fa-angle-double-right"></i>Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Information</h5>
        <ul class="list-unstyled quick-links">

          <li><a href="/introduction"><i class="fa fa-angle-double-right"></i>Introduction</a></li>
          <li><a href="/similar_sites"><i class="fa fa-angle-double-right"></i>Similar sites</a></li>
          <li><a href="/open_source_model"><i class="fa fa-angle-double-right"></i>Open Source model</a></li>

          <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>