<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">


  <a href="/" class="header_logo_container">
    <img src="/css/osf_logo.png" alt="OpenSourceFees" class="header_logo_container_image">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon fas fa-align-justify"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {{ renderNavbarLinks() | raw }}
    </ul>
  </div>
</nav>


