<script nonce="{{ request_nonce() }}">
  /**
   * Add an external script to the page, and then call a callback once it is loaded.
   *
   * This is useful for scripts from outside companies where it is not possible to manage
   * loading those scripts internally.
   *
   * https://stackoverflow.com/questions/12820953/asynchronous-script-loading-callback
   * @param script_src
   * @param callback
   */
  function osfAsync(script_src, callback) {
    var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = script_src;

    if (callback) {
      o.addEventListener('load', function (e) {
        callback(null, e);
      }, false);
    }
    s.parentNode.insertBefore(o, s);
  }


  /**
   * Setup a queue for jquery commands
   */
  if (window.osfQueueJquery === undefined) {
    window.osfQueueJquery = function () {
      (osfQueueJquery.q = osfQueueJquery.q || []).push(arguments)
    };
    window.osfQueueJquery.q = [];
  }
  osfQueueJquery.l = +new Date;


  var osf_dataLayer = {};


</script>