@charset "UTF-8";
:root {
  --background_color: rgb(254, 254, 253);
  --breadcrumbs_text_color: #000;
  --breadcrumbs_background_color: #dddfec;
  --breadcrumbs_border_color: #888;
  --breadcrumbs_link_color: #33337f;
  --breadcrumbs_link_hover_color: #AE508D;
  --content_panel_text_color: #333;
  --content_panel_background_color: none;
  --content_links_background_color: #dddfec;
  --content_links_border_color: rgba(10, 10, 10, 0.2);
  --content_links_text_color: #000;
  --content_links_link_color: #33337f;
  --content_links_link_hover_color: #cb66a5;
  --code_background: #000;
  --code_color: #fff;
  --footer_text_color: #000;
  --footer_background_color: #c8cee3;
  --footer_border_color: rgba(128, 128, 128, 0.25);
  --footer_link_color: #000030;
  --footer_link_hover_color: #AE508D;
  --header_panel_text_color: #8892bf;
  --header_link_color: #8892bf;
  --header_panel_background: rgb(254, 254, 253);
  --header_link_hover_color: #AE508D;
  --prev_next_text_color: #000;
  --prev_next_background_color: #dddfec;
  --prev_next_border_color: #888;
  --prev_next_link_color: #2a2a78;
  --prev_next_link_hover_color: #AE508D;
  --standard_text_color: #000;
  --standard_link_color: #000080;
  --standard_link_hover_color: #AE508D;
  --standard_border_color: rgba(128, 128, 128, 0.25);
  --table_row_border_hover_color: rgba(32, 32, 32, 0.333);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_color: rgb(20, 20, 20);
    --breadcrumbs_text_color: #000;
    --breadcrumbs_link_hover_color: #AE508D;
    --content_panel_text: #fcfcfc;
    --content_links_link_color: #33337f;
    --content_link_link_hover_color: #cb66a5;
    --code_background: #000;
    --code_color: #fff;
    --footer_background_color: #606060;
    --header_panel_text_color: #bdbdbd;
    --header_link_color: #b0b0b0;
    --navigation_background_color: #dddfec;
    --standard_text_color: #d7d7d7;
    --standard_link_color: #4b4bd8;
    --standard_link_hover_color: #cb66a5;
    --standard_border_color: rgba(83, 83, 83, 0.25);
    --table_row_border_hover_color: rgba(32, 32, 32, 0.333);
  }
}
:root {
  --page_padding_left: 24px;
  --page_padding_right: 24px;
}
@media (max-width: 1200px) {
  :root {
    --page_padding_left: 12px;
    --page_padding_right: 12px;
  }
}
@media (max-width: 640px) {
  :root {
    --page_padding_left: 2px;
    --page_padding_right: 2px;
  }
}

:root {
  --page_padding_left: 24px;
  --page_padding_right: 24px;
}
@media (max-width: 1200px) {
  :root {
    --page_padding_left: 12px;
    --page_padding_right: 12px;
  }
}
@media (max-width: 640px) {
  :root {
    --page_padding_left: 2px;
    --page_padding_right: 2px;
  }
}

.opendocs_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.opendocs_header {
  grid-area: hd;
  padding: var(--page_padding_left);
  padding-top: 8px;
  padding-bottom: 8px;
}

.opendocs_breadcrumbs {
  grid-area: breadcrumbs;
  padding: var(--page_padding_left);
}

.opendocs_prev_next {
  grid-area: prev_next;
  padding: 18px;
  flex-grow: 1;
}

.opendocs_content {
  grid-area: main;
  padding: var(--page_padding_left);
  flex-shrink: 1;
  flex-grow: 1;
}

.opendocs_content_links {
  grid-area: content_links;
  padding: 5px;
}

.opendocs_footer {
  grid-area: ft;
  flex-shrink: 0;
}

.opendocs_wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd" "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs prev_next prev_next prev_next " "main main main main main main content_links content_links content_links " "ft ft ft ft   ft   ft   ft   ft   ft";
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .opendocs_wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd" "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs prev_next prev_next prev_next " "main main main main main main main content_links content_links " "ft ft ft ft   ft   ft   ft   ft   ft";
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 900px) {
  .opendocs_wrapper {
    grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd" "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs prev_next prev_next prev_next " "main main main main main main main main main" "content_links content_links content_links content_links content_links content_links content_links content_links content_links" "np np np np   np   np   np   np   np" "ft ft ft ft   ft   ft   ft   ft   ft";
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 900px) {
  .opendocs_wrapper {
    grid-template-areas: "hd hd hd hd   hd   hd   hd   hd   hd" "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "prev_next prev_next prev_next prev_next prev_next prev_next prev_next prev_next prev_next" "main main main main main main main main main" "content_links content_links content_links content_links content_links content_links content_links content_links content_links" "np np np np   np   np   np   np   np" "ft ft ft ft   ft   ft   ft   ft   ft";
    flex-direction: column;
    align-items: stretch;
  }
}
.opendocs_breadcrumbs {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--breadcrumbs_text_color);
  background-color: var(--breadcrumbs_background_color);
  border-top: 1px solid var(--breadcrumbs_border_color);
  border-bottom: 1px solid var(--breadcrumbs_border_color);
}
.opendocs_breadcrumbs ul {
  padding-inline-start: 0;
  margin: 0px;
}
.opendocs_breadcrumbs ul li + li:before {
  content: "››";
}
.opendocs_breadcrumbs ul li {
  list-style-type: none;
  float: left;
  font-weight: 400;
  padding-left: 12px;
}
.opendocs_breadcrumbs ul li a {
  text-decoration: none;
  color: var(--breadcrumbs_link_color);
  border: 0;
  margin-left: 12px;
}
.opendocs_breadcrumbs ul li a:hover, .opendocs_breadcrumbs ul li a:focus {
  color: var(--breadcrumbs_link_hover_color);
}
.opendocs_breadcrumbs ul li:first-child {
  padding-left: 0px;
}
.opendocs_breadcrumbs ul li:first-child a {
  margin-left: 0px;
}

.opendocs_content {
  background-color: var(--content_panel_background_color);
  color: var(--content_panel_text_color);
  line-height: 24px;
}
.opendocs_content h1, .opendocs_content h2, .opendocs_content h3, .opendocs_content h4, .opendocs_content h5, .opendocs_content h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1.25;
}
.opendocs_content h1, .opendocs_content h2, .opendocs_content h3, .opendocs_content h4, .opendocs_content h5 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--content_panel_border_color);
}
.opendocs_content p + h1,
.opendocs_content p + h2,
.opendocs_content p + h3,
.opendocs_content p + h4 {
  margin-top: 24px;
}
.opendocs_content a {
  color: var(--standard_link_color);
}
.opendocs_content a:hover, .opendocs_content a:focus {
  color: var(--standard_link_hover_color);
}
.opendocs_content p {
  line-height: 1.2;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.opendocs_content ul {
  padding-left: 20px;
}
.opendocs_content li + li {
  margin-top: 0.25em;
}

.opendocs_content_links {
  color: var(--content_links_text_color);
  line-height: 1.6;
  letter-spacing: -0.00278rem;
  border-left: 1px dotted var(--content_links_border_color);
}
.opendocs_content_links ul {
  margin-top: 0px;
  padding-left: 0;
}
.opendocs_content_links ul li {
  list-style-type: none;
  margin: 0;
}
.opendocs_content_links ul li a {
  text-decoration: none;
}
.opendocs_content_links ul li a:link, .opendocs_content_links ul li a:visited {
  color: var(--content_links_link_color);
}
.opendocs_content_links ul li a:hover, .opendocs_content_links ul li a:focus, .opendocs_content_links ul li #layout-content a:hover, .opendocs_content_links ul li #layout-content a:focus {
  color: var(--content_links_link_hover_color);
  outline: 0;
}
.opendocs_content_links ul li a {
  border-bottom: 1px dotted;
  margin-bottom: -1px;
  display: block;
}
.opendocs_content_links ul li ul {
  padding-left: 0.75rem;
}
.opendocs_content_links li:not(:first-child) div {
  margin-top: 16px;
}
.opendocs_footer {
  color: var(--footer_text_color);
  background-color: var(--footer_background_color);
  border-top: 1px solid var(--footer_border_color);
  padding: 10px;
  width: 100%;
  font-weight: bold;
}
.opendocs_footer a {
  text-decoration: none;
  padding: 12px;
  color: var(--footer_link_color);
  border: 0;
}
.opendocs_footer a:hover, .opendocs_footer a:focus {
  color: var(--footer_link_hover_color);
}

:root {
  --page_padding_left: 24px;
  --page_padding_right: 24px;
}
@media (max-width: 1200px) {
  :root {
    --page_padding_left: 12px;
    --page_padding_right: 12px;
  }
}
@media (max-width: 640px) {
  :root {
    --page_padding_left: 2px;
    --page_padding_right: 2px;
  }
}

.opendocs_header {
  background-color: var(--header_panel_background);
  color: var(--header_panel_text_color);
  font-weight: bold;
  font-size: 36px;
}
@media (max-width: 1200px) {
  .opendocs_header {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .opendocs_header {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .opendocs_header {
    font-size: 18px;
  }
}
.opendocs_header ul {
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.opendocs_header ul li {
  list-style-type: none;
  float: left;
  font-weight: 400;
  padding-left: 12px;
}
.opendocs_header ul li a {
  text-decoration: none;
  color: var(--header_link_color);
  border: 0;
}
.opendocs_header ul li a:hover, .opendocs_header ul li a:focus {
  color: var(--header_link_hover_color);
}
.opendocs_header ul li:first-child {
  padding-left: 0px;
}

.opendocs_prev_next {
  color: var(--prev_next_text_color);
  background-color: var(--prev_next_background_color);
  border-top: 1px solid var(--prev_next_border_color);
  border-bottom: 1px solid var(--prev_next_border_color);
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.opendocs_prev_next .opendocs_prev_next_container {
  display: flex;
  justify-content: space-between;
}
.opendocs_prev_next a {
  text-decoration: none;
  padding: 12px;
  color: var(--prev_next_link_color);
  border: 0;
}
.opendocs_prev_next a:hover, .opendocs_prev_next a:focus {
  color: var(--prev_next_link_hover_color);
}

html {
  scroll-behavior: smooth;
  background-color: var(--background_color);
}

h1 + h2 {
  padding-top: 12px;
}

h2 + h3 {
  padding-top: 12px;
}

h3 + h4 {
  padding-top: 12px;
}

h5 + h6 {
  padding-top: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, x-locale-body, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  border: 0px;
}
table tr {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
table tr:hover td {
  border-top: 1px solid var(--table_row_border_hover_color);
  border-bottom: 1px solid var(--table_row_border_hover_color);
}
table tr:hover td:first-child {
  border-left: 1px solid var(--table_row_border_hover_color);
}
table tr:hover td:last-child {
  border-right: 1px solid var(--table_row_border_hover_color);
}
table th {
  text-align: left;
  vertical-align: top;
}
table td {
  vertical-align: top;
}
table th, table td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}
table tr:nth-child(even) {
  background: rgba(230, 230, 230, 0.5);
}

.widget_php_bugs_comments {
  border: 1px solid #444;
  padding: 8px;
}

.nouns_table th,
.nouns_table td,
.verbs_table th,
.verbs_table td {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.nouns_table th:first-child,
.nouns_table td:first-child,
.verbs_table th:first-child,
.verbs_table td:first-child {
  padding-left: 4px;
}
.nouns_table th:last-child,
.nouns_table td:last-child,
.verbs_table th:last-child,
.verbs_table td:last-child {
  padding-right: 0;
}
.nouns_table a.anchor,
.verbs_table a.anchor {
  font-weight: bolder;
  text-decoration: none;
  color: var(--content_panel_text_color);
}
.nouns_table a.anchor:hover,
.verbs_table a.anchor:hover {
  color: var(--content_panel_text_color);
}
.nouns_table a.anchor::after,
.verbs_table a.anchor::after {
  content: " 🔗";
  font-size: 0.75em;
  color: transparent;
}
.nouns_table a.anchor:hover::after,
.verbs_table a.anchor:hover::after {
  color: inherit;
}

.nouns_see_also_wide_display,
.verbs_see_also_wide_display {
  display: inherit;
}

.nouns_see_also_wide_hide,
.verbs_see_also_wide_hide {
  display: none;
}

@media (max-width: 1200px) {
  .nouns_see_also_wide_display,
.verbs_see_also_wide_display {
    display: none;
  }

  .nouns_see_also_wide_hide,
.verbs_see_also_wide_hide {
    display: initial;
  }
}

/*# sourceMappingURL=site.css.map */
