
{% extends 'base.html' %}

{% block page_body %}





  <div class="col-md-10 offset-md-1 jumbotron">
    <h1>OpenSourceFees</h1>

  <p>
    Making Open Source sustainable by providing a simple way for businesses to make payments to Open Source projects

  </p>

    <hr/>

    <p><a href="/projects">Pay an Open Source project</a></p>


    <p><a href="/introduction">Learn more </a> about the Open Source funding problem.</p>


    Open Source maintainers read <a href="/os_maintainers">how this site works</a>.


    {# Add your own Open Source project #}






  </div>



{% endblock %}