<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>:html_page_title</title>
  <link rel="stylesheet" href="/css/site.css">
</head>

<body>

<div class="opendocs_wrapper">
  <div class="opendocs_header">:raw_top_header</div>
  <div class="opendocs_breadcrumbs">:raw_breadcrumbs</div>
  <div class="opendocs_prev_next">:raw_prev_next</div>
  <div class="opendocs_content_links">:raw_nav_content</div>
  <div class="opendocs_content">:raw_content</div>
  <div class="opendocs_footer">:raw_footer</div>
</div>


</body>
</html>