
.opendocs_breadcrumbs {

  //padding-top: 5px;
  //padding-bottom: 5px;

  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--breadcrumbs_text_color);
  background-color: var(--breadcrumbs_background_color);
  border-top: 1px solid var(--breadcrumbs_border_color);
  border-bottom: 1px solid var(--breadcrumbs_border_color);

  ul {
    padding-inline-start: 0;
    margin: 0px;

    li+li:before {
      //padding:0 .5rem 0;
      content:"\203A";
    }

    li {
      list-style-type: none;
      float: left;
      font-weight: 400;

      a {
        text-decoration: none;
        padding: 12px;

        color: var(--breadcrumbs_link_color);
        border:0;
        //text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.125);
      }

      a:hover, a:focus {
        color: var(--breadcrumbs_link_hover_color);
      }
    }
  }
}