@use "colors.scss";


.opendocs_breadcrumbs {

  padding-top: 5px;
  padding-bottom: 5px;

  ul {
    padding-inline-start: 0;
    margin: 0px;

    li+li:before {
      padding:0 .5rem 0;
      content:"\203A";
    }

    li {
      list-style-type: none;
      float: left;
      font-weight: 400;

      a {
        text-decoration: none;
        padding: 12px;

        color: colors.$breadcrumbs_link_color;
        border:0;
        //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }

      a:hover, a:focus {
        color: colors.$breadcrumbs_link_hover_color;
      }
    }
  }
}