

//$standard_text_color: #222222;
$standard_text_color: #000;
$standard_link_hover_color: #AE508D;
$standard_border_color: #888;

$table_row_border_hover_color: rgba(32, 32, 32, 0.333);

$background_colour: rgb(254, 254, 253);
$color: rgb(204, 204, 204);

//$navigation_background_color: #c8cee3;
$navigation_background_color: #dddfec;

$prev_next_background: $navigation_background_color;
$prev_next_border_color: $standard_border_color;


$header_panel_background: $background_colour;
$header_panel_text: #8892bf;

$header_link_color: #8892bf;
$header_link_hover_color: $standard_link_hover_color;

$breadcrumbs_background: $navigation_background_color;

$breadcrumbs_link_color: $standard_text_color;
$breadcrumbs_link_hover_color: $standard_link_hover_color;

//$content_panel_background: #fcfcfc;
$content_panel_background: $background_colour;
$content_panel_text: #333;

$nav_panel_text: $standard_text_color;

$footer_background_color: #c8cee3;
$footer_color: $standard_text_color;
$footer_border_color: $standard_border_color;

$footer_link_color: $standard_text_color;
$footer_link_hover_color: $standard_link_hover_color;

$code_background: #000;
$code_color: #fff;
