
.opendocs_content {
  background-color: var(--content_panel_background_color);
  color: var(--content_panel_text_color);

  line-height: 20px;

  h1 {
    margin-block-start: 0.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    //margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.25;
  }

  h1 {
    margin-bottom: 8px;
  }

  h1, h2, h3, h4, h5 {
    text-decoration-line: none;
  }

  p + p {
    padding-top: 8px;
  }

  //@media (min-width: $screen_break_medium) {
    h1 {
      font-size: 1.6em;
    }

    h2 {
      margin-top: 16px;
      font-size: 1.4em;
    }

    h3 {
      margin-top: 16px;
      font-size: 1.2em;
    }

    h4 {
      margin-top: 8px;
      font-size: 1.1em;
    }
    h5 {
      margin-top: 8px;
      font-size: 1.0em;
    }
  //}


  @media (min-width: $screen_break_large) {
    h1 {
      font-size: 2.0em;
    }

    h2 {
      margin-top: 24px;
      font-size: 1.6em;
    }

    h3 {
      margin-top: 16px;
      font-size: 1.4em;
    }

    h4 {
      margin-top: 8px;
      font-size: 1.2em;
    }
    h5 {
      font-size: 1.0em;
    }
  }

  a {
    color: var(--standard_link_color);
  }

  a:hover, a:focus {
    color: var(--standard_link_hover_color);
  }

  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  ul {
    padding-left: 20px;
    line-height: 20px;
  }

  li+li {
    padding-top: 12px;
  }

  code {
    font-family: Inconsolata, monospace;
  }

  h1 .heading-permalink,
  h2 .heading-permalink,
  h3 .heading-permalink,
  h4 .heading-permalink,
  h5 .heading-permalink,
  h6 .heading-permalink{
    visibility: hidden;
  }

  h1:hover .heading-permalink,
  h2:hover .heading-permalink,
  h3:hover .heading-permalink,
  h4:hover .heading-permalink,
  h5:hover .heading-permalink,
  h6:hover .heading-permalink{
    visibility: visible;
  }
}