
@use "colors.scss";

.opendocs_header {

  background-color: colors.$header_panel_background;
  color: colors.$header_panel_text;

  font-weight: bold;
  font-size: 36px;
  font-size: 2rem;

  ul {
    padding-inline-start: 0;
    //padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    li:first-child {
      padding-left: 0px;
    }

    li {
      list-style-type: none;
      float: left;
      font-weight: 400;
      padding: 12px;

      a {
        text-decoration: none;
        color: colors.$header_link_color;
        border:0;
        //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }

      a:hover, a:focus {
        color: colors.$header_link_hover_color;
      }
    }
  }
}

