
.opendocs_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.opendocs_header {
  grid-area: hd;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.opendocs_breadcrumbs {
  grid-area: breadcrumbs;
  padding: 18px;
}

.opendocs_prev_next {
  grid-area: prev_next;
  padding: 18px;
  flex-grow: 1;
}

.opendocs_content {
  grid-area: main;
  padding: 24px;
  flex-shrink: 1;
  flex-grow: 1;
}

.opendocs_content_links {
  //max-width: 320px;
  grid-area: content_links;
  padding: 5px;
}

.opendocs_footer {
  grid-area: ft;
  flex-shrink: 0;
}

.opendocs_wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
        "hd hd hd hd   hd   hd   hd   hd   hd"
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs prev_next prev_next prev_next "
        "main main main main main main main content_links content_links "
        "ft ft ft ft   ft   ft   ft   ft   ft";
  flex-direction: column;
  align-items: stretch;
}


@media (max-width: 900px) {
  .opendocs_wrapper {
    grid-template-areas:
            "hd hd hd hd   hd   hd   hd   hd   hd"
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs prev_next prev_next prev_next "
            "main main main main main main main main main"
            "content_links content_links content_links content_links content_links content_links content_links content_links content_links"
            "np np np np   np   np   np   np   np"
            "ft ft ft ft   ft   ft   ft   ft   ft";

    flex-direction: column;
    align-items: stretch;
  }
}


@media (max-width: 640px) {
  .opendocs_wrapper {
    grid-template-areas:
            "hd hd hd hd   hd   hd   hd   hd   hd"
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
            "prev_next prev_next prev_next prev_next prev_next prev_next prev_next prev_next prev_next"

            "main main main main main main main main main"
            "content_links content_links content_links content_links content_links content_links content_links content_links content_links"
            "np np np np   np   np   np   np   np"
            "ft ft ft ft   ft   ft   ft   ft   ft";

    flex-direction: column;
    align-items: stretch;
  }
}
