
@use "colors.scss";
@use "variables.scss";

.opendocs_prev_next {

  background-color: colors.$prev_next_background;
  border-top: 1px solid colors.$prev_next_border_color;
  border-bottom: 1px solid colors.$prev_next_border_color;
  width: 100%;

  padding-top: variables.$navigation_padding_top;
  padding-bottom: variables.$navigation_padding_bottom;

  .opendocs_prev_next_container {
    float: right;
  }

  .opendocs_prev {
  }

  .opendocs_next {
  }

  a {
    text-decoration: none;
    padding: 12px;

    color: colors.$breadcrumbs_link_color;
    border:0;
    //text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  a:hover, a:focus {
    color: colors.$breadcrumbs_link_hover_color;
  }
}