
@use "colors.scss";

@import "layout.scss";

@import "breadcrumbs.scss";
@import "content.scss";
@import "content_links.scss";
@import "footer.scss";
@import "header.scss";
@import "prev_next.scss";

html {
  scroll-behavior: smooth;
  background-color: colors.$background_colour;
  //color: colors.$color;
}

h2 + h3 {
  padding-top: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial,x-locale-body,sans-serif;
  font-size: 18px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

