
@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";

@import "layout.scss";
@import "breadcrumbs.scss";
@import "content.scss";
@import "content_links.scss";
@import "footer.scss";
@import "header.scss";
@import "prev_next.scss";
@import "basic.scss";
@import "comments_panel.scss";
@import "code.scss";

// todo move this to it's own repo
@import "naming_things.scss";

body {
  font-family: SourceSansPro-Regular, Arial, x-locale-body, sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  //font-size: 1rem;
}

th {
  font-family: Manrope, Arial, x-locale-body, sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Manrope, Arial, x-locale-body, sans-serif;
}

//Cabin
//Lato
//Raleway