

//$right_panel_max_width: 340px;
//
//$navigation_padding_top: 8px;
//$navigation_padding_bottom: 8px;

:root {
  --page_padding_left: 24px;
  --page_padding_right: 24px;


  @media (max-width: 1200px) {
  --page_padding_left: 12px;
  --page_padding_right: 12px;
}

  @media (max-width: 640px) {
    --page_padding_left: 2px;
    --page_padding_right: 2px;
  }
}

